.RigthModalConteiner {
  /* position is absolute cause root is relative */
  z-index: 1000;
  position: fixed;
  margin: 10px 0;
  position:-webkit-sticky;

  display: flex;
  flex-direction: column;
  right: 0;

  padding: 5px;
  height: 610px;
  width: 35%;

  background-color: rgba(52, 43, 43, 0.971);

  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;

  transition: all ease-in-out .2s;
}

.RigthModalConteiner::-webkit-scrollbar {
  display: none;
}

.closeModalBtn {
  top: 5px;
  left: 5px;
  display: flex;
  width: 20px;
  height: 20px;
  font-weight: bolder;
  color: rebeccapurple;
  background: none;
  position: absolute;

  place-content: center;
  place-items: center;

  border-radius: 50%;
  border: none;
}

.closeModalBtn:hover {
  transition: all ease-in-out 0.2s;
  box-shadow: 0px 0px 5px 0px darkblue;
}

.ulModelConteiner {
  display: flex;
  flex-direction: column;

  gap: 8px;

  margin: 50px 0;
}
.ulModelConteiner li {
  border-radius: 5px;
  list-style: none;
  height: 30px;
  border: 1px solid gray;
  display: flex;
  place-content: center;
  place-items: center;
}
.ModalLiButton {
  display: flex;
  height: fit-content;
  place-content: center;
  place-items: center;
  gap: 8px;
  background: none;
  border: none;
}

.ulModelConteiner li:hover {
  box-shadow: 0px 0px 5px 0px darkblue;
  background-color: rgb(98, 94, 175);
  border: none;
  transition: all ease-in-out 0.2s;
}

.ModalLiButton:hover h5,
.ModalLiButton:hover svg {
  color: rgb(255, 255, 255);
}
