.Projects {
  display: flex;
  background-color: red;
  padding: 50px 100px;
  height: 500px;
  max-height: 500px;
  flex-direction: column;
  justify-content: left;
  text-align: left;
}

.UlProjects {
  display: flex;
  flex-direction: column;
  list-style: none;
  height: inherit;
}

.LiProjects {
  display: flex;
  flex-direction: column;
  justify-content: left;
  justify-items: left;
  padding: 5px 0;

  text-align: left;
  padding-right: 45%;
}
.PProjects {
  font-size: 20px;
}
.BtnProjects {
  display: flex;
  border: 1px solid darkgray;
  width: 50px;
  border-radius: 5px;
  margin-top: 10px;
  padding: 0 5px;
  font-weight: bolder;
}

.animation {
  margin: 0;
  padding: 0;
  height: inherit;
  display: flex;
  place-content: center;

}

/* media query area */
@media screen and (max-width: 600px) {
  .Projects {
    padding: 50px;
    height: 400px;
    background-color: darkslateblue;
    place-content: left;
    place-items: left;
    display: flex;
  }
  .UlProjects {
    display: flex;
    padding: 0;
    justify-content: left;
    text-align: left;
    margin-top: 25px;
  }
  .PProjects {
    font-size: 12px;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
  }
  .LiProjectsRigth {
    justify-content: right;
    justify-items: right;
    text-align: right;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-bottom: 50px;
    padding-left: 45%;
  }
  .LiProjectsRigth > button {
    margin-left: calc(100% - 50px);
  }
}
