.findMe {
    height: inherit;
    color: darkgray;
    padding: 25px 50px;
    height: 500px;
    text-align: left;
    position: relative;
}
.PVindMeDescription{
 font-size: 12px;
 margin: 25px 0;

}
.UlFindMe {
    display:  grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    height: inherit;
    gap: 10px;
}

.LiFindMe {
    height: 100px;
    position: relative;
    border-radius: 10px;
    background-color:aquamarine;
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    margin-top: 25px;
}
.PFindMe{
 margin-bottom: 15px;   
 font-size: 12px;
}
.LiFindMe > button{
    border: none;
    background:none;
}

