.UlStyle {
  
  display: flex;
  width: inherit;
  height: 50px;
  place-content: center;
  place-items: center;
  min-width: 320px;
  position: relative;
}

.BtnPosition {
  position: absolute;
  right: 10px;
  background: none;
  padding: 5px 10px;
  display: flex;
  
  place-items: center;
  place-content: center;

  border-radius: 8px;
  border: solid 1px #ddd;
  
}

/* media query area */
@media screen and (max-width: 600px) {
  .UlStyle {

    height: 50px;
    display: flex;
    place-content: center;
    place-items: center;
  }
  .BtnPosition {
    border-radius: 5px;
    color: whitesmoke;
    background: none;
    border: none;
  }
}
