.divStl {
  display: flex;
  height: 300px;
  padding: 50px 100px;
  text-align: left;
  position: relative;
}
.leftDiv {
  margin-top: 25px;
  width: 50%;
  display: flex;
  place-content: center;
}
.profilePic {
  height: 200px;
  border-radius: 5px;
  filter: brightness(55%);
}

.rigthDiv {
  width: 50%;

  display: flex;
  flex-direction: column;
  place-content: left;
  place-items: left;
}
.socialLinks {
  padding: 0;
  margin: 0;
  margin-top: 50px;
  list-style: none;
  display: flex;
  gap: 5px;
  left: 0px;
}
.socialLinks li {
  width: 30px;
}
.socialLinks button,
.socialLinks a {
  border: none;
  background: none;
  color: aliceblue;
}

.descriptionMe {
  -webkit-animation: text-focus-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: text-focus-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  max-height: 350px;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: flex;

  place-content: left;
  place-items: left;
}
.btnHeigth {
  margin-top: 20px !important;
  padding: 50px 100px;
  transition: ease-in-out 0.5s;
}

@media screen and (max-width: 600px) {
  .divStl {
    position: relative;
    padding: 25px;
    display: flex;
    place-items: center;
    place-content: center;
    background-color: blueviolet;
    height: 300px;
  }
  .profilePic {
    height: 150px;
    margin-bottom: 100px;
  }
  .descriptionMe {
    
    place-content: center;
    place-items: center;
  }
}

/* animations */
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
