#root {
  margin: 0;
  max-width: 1480px;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  margin: 0 auto;
  text-align: center;
  height: 100%;
  --mainColor: gray;
  --bgColor: whitesmoke;
}

/* future media query */
@media screen and (max-width: 600px) {
}
@media screen and (min-width: 601px) and (max-width: 992px) {
}
@media screen and (min-width: 993px) {
}
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 600px), screen and (min-width: 993px) {
}
